@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Import Utility</title>
    
    <link href="/Resources/css/app.css" type="text/css" rel="stylesheet"/>
    <script data-main="/Resources/js/main" src="/Resources/js/require-jquery.js"></script>
</head>
    <body>
        @RenderBody()
    </body>
</html>
