<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="ui.unity"
                 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
        <section name="ui"
                 type="Ektron.Cms.Framework.UI.Configuration.UiConfigurationSection, Ektron.Cms.Framework.UI" />
        <section name="ektron.cacheProvider"
                 type="Ektron.Cms.Caching.Provider.CacheConfiguration, Ektron.Cms.ObjectFactory"
                 allowDefinition="MachineToApplication"
                 restartOnExternalChanges="true" />
        <sectionGroup name="ektron.framework.services"
                      type="Ektron.Cms.FrameworkConfigurationGroup, Ektron.Cms.ObjectFactory">
            <section name="unity"
                     type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
            <section name="framework"
                     type="Ektron.Cms.FrameworkConfigurationSection, Ektron.Cms.ObjectFactory" />
        </sectionGroup>
    </configSections>
    <ektron.cacheProvider defaultProvider="webCache">
        <providers>
            <add name="webCache"
                 cacheTimeSeconds="300"
                 type="Ektron.Cms.Providers.Caching.WebCacheProvider, Ektron.Cms.Providers" />
        </providers>
    </ektron.cacheProvider>
    <ui.unity configSource="EktronConfig\ektron.cms.framework.ui.unity.config" />
    <ui configSource="EktronConfig\ektron.cms.framework.ui.config" />
    <ektron.framework.services>
        <unity configSource="EktronConfig\ektron.cms.framework.unity.config" />
        <framework defaultContainer="Default"
                   childContainer="WCF" />
    </ektron.framework.services>
    <appSettings>
    </appSettings>
</configuration>