<script type='text/template' id="main-view">    
    <div id="loading" style="display:none;">
        <img src="/resources/images/ajax-loader.gif" />
    </div>
    <div id="messages">
    </div>
    <h1>Import Utility | <a href="/">Home</a></h1>
    <ul>
        <li><a href="model/project/list">Projects</a></li>
        <li><a href="model/source/list">Sources</a></li>
        <li><a href="model/destination/list">Destinations</a></li>
        <li><a href="model/converter/list">Converters</a></li>
        <li><a href="model/plugin/list">Plugins</a></li>
    </ul>
    <div id="content">
    </div>

</script>